<!DOCTYPE html>
<html>
  <head>
    <title>Pictagram</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to image_tag('pictagram.png'), posts_path %>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <% if session[:user_id]!= nil %>
            <%= render 'notifications/notification_dropdown' %>
            <%end%>
          </li>

          <div class= "mobile_view_hide">
                
                <li>
                  <% if session[:user_id]!= nil %>
                <%= link_to "New Post", new_post_path %>
                </li>
                <%end%>
                <li>
                <%= link_to "Browse Posts", browse_posts_path %>
                </li>
                <% if session[:user_id]== nil %>
                <li>
                <%= link_to "Login", login_path %>
                </li>
                <li>
                <%= link_to "Register", signup_path %>
                </li>
                <%else%>
                <li>
                <%= link_to "Logout", logout_path %>
                </li>
                <% end %> 
                <li>
                  <div class= "searchbar">
                  <%= form_tag(search_page_path, :method => "get",   
                  class: 'navbar-form navbar-right') do %>  
                  <div class="input-group">  
                  <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
                  <div class="input-group-btn">  
                  <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%> 
                  <%end %>
                  </div>
                  </div>
                  </div>
                </li>
          </div>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
</div>
</div>
  <%= yield %>

  <footer>
    <div class="footer">
    <div class="w-100 desk_view_hide">
        <ul class="icons">
                        <li class="icons">
                          <%= link_to posts_path do %>
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/glyph-ui/100/ui-16-512.png", size: "25x25", style: "display: inline" %>
                          <%end%>
                        </li>
                        <li class="icons">
                          <%= link_to browse_posts_path do %>
                                <%= image_tag "https://image.flaticon.com/icons/png/512/55/55369.png", size: "20x20", style: "display: inline"  %>
                          <%end%>
                        </li>
                         <li class="icons">
                          <%= link_to new_post_path do %>
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/social-object-set-4-2/74/31-256.png", size: "25x25", style: "display: inline"  %>
                          <%end%>
                        </li>
                        <li class="icons">
                            <%= link_to profiles_show_path(:current_user) do %>
                                <%= image_tag "https://cdn1.iconfinder.com/data/icons/glyph-ui/100/ui2-03-512.png", size: "20x20",style: "display: inline;" %>
                            <%end%>
                        </li>
                        <li class="icons">
                            <%= link_to logout_path do %>
                                <%= image_tag "https://cdn2.iconfinder.com/data/icons/pictograms-3/512/18-512.png", size: "20x20",style: "display: inline;" %>
                            <%end%>
                        </li>
                    </ul>
      </div>
    </div>
</footer>
<!--     <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  </body>
</html>
